node_modules/
.next/
out/
.env
data/*.db
data/*.db-*
storage/projects/*
!storage/projects/.gitkeep
storage/shared/*
!storage/shared/.gitkeep
storage/clusters/*
storage/products/*

__pycache__/
*.pyc

# Next.js generated
next-env.d.ts
